---
layout: default
title: About Us
---

<div>

    <div class="items-center mt-8">
    <img src="../assets/img/junglecouple.jpg" alt="Picture of the Sabrena and Adrianna dressed in white and standing in a tropical jungle">
    <em>We thought: what would be most obviously "we are Southeast Asian, queer and here... here being in a jungle?</em>
    </div>

    <div class="text-left mt-8">
    <p>We are Sabrena and Adrianna, a married queer couple originally from Southeast Asia, now living in San Francisco. Sabrena is a full time student training to go into therapy. In her free time, she enjoys life-hacking, playing badminton, making granola and watching movies.</p>
    </div>

    <div class="text-left mt-8">
    <p>Adrianna works in tech in San Francisco. She is the director of product management for the City and County of San Francisco. She was a former food writer, ice cream nerd and startup founder, and has many thoughts on noodles.</p>
    </div>

    <div class="text-left mt-8">
    <p>In 2018, we moved to California to start our married lives. As a trans-national queer couple in Asia, while we are very attached to our various South and Southeast Asian countries, we wanted to go somewhere where we could be a family.</div>
    </div>
    <div class="text-left mt-8">
    <p>We live in downtown San Francisco with our senior pets: a very old cat, and a very old dog. Most of our time is spent with and around them.</p>
    <p>During the great pandemic of 2020-2021, we picked up gardening and also some sports. You will probably read all about it here. At some point soon, we will post more regularly (soon = when I install a content management system for front-end editing and posting!)</p></div>
    </div>

</div>